@{
    ViewData["Title"] = "Banco Index";
}

<div class="text-center">
    <h1 class="display-4">Boas Vindas.</h1>
    <p class="text-black">Página para testar registros no banco.
        <br />Esta página lhe redicionará para as páginas de requisições, selecione a requisição desejada.</p>
</div>
<div>
    Clique no link para: <a href="/Request/postRequest">Requisição POST</a>
    <br />
    Clique no link para: <a href="/Request/getRequest">Requisição GET</a>
</div>
<br />
<br />
<div>
    <p class="text-black">Links para cadastrar produto e visualizar produto</p>
    Clique no link para: <a href="/Product/criarProduto">Criar um produto</a>
    <br />
    Clique no link para: <a href="/Product/verProduto">Olhar os produtos</a>
</div>