@{
    ViewData["Title"] = "Exception Test";
}

<div class="text-center">
    <h1 class="display-4">Testes</h1>
    <p> Esta página é puramente para testes.</p>
</div>
<form asp-controller="Home" asp-action="exceptionTest1">
<p>clique nesse botão para simular um erro.</p>
<button type="submit">botao de erro</button>
</form>