@{
    ViewData["Title"] = "Inicial";
}

<div class="text-center">
    <h1 class="display-4">Boas Vindas.</h1>
    <p> Esta página é puramente para testes.<br>Se quiser fazer algo aqui, vá para: <a href="/home/privacy">Página que faz algo</a>.</p>
    <p> Ou acesse a página do Database para realizar alguma requisição: <a href="/Home/Database">Página do Database</a></p>
</div>
<div class="text-justify" style="text-align: justify">
    <p>O site possui algumas páginas dentro da "Banco BD", onde é possível realizar requisições HTML, cheque-as</p>
</div>
<div class="text-justify" style="text-align: justify">
    <p>Caso queira testar a página de exception/erro <a href="/Home/exceptionTest">Clique Aqui</a></p>
</div>